<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="welcome_main">
        <h1>Welcome to Thread</h1>
        <div class="btns">
            <a href="/app/v1/user/signup"><button id="userBtn">User</button></a>
            <a href="/app/v1/author/signup"><button id="authorBtn">Author</button></a>
            <a href="/app/v1/admin/signup"><button id="adminBtn">Admin</button></a>
        </div>
    </div>
</body>

</html>